@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #202020;
  color: white;
  font-size: 2rem;
}

html {
  font-size: 62.5%;
}

/* :root{
    --color-purple: #8B5CF6;
    --color-pink: #EC4899;
    --color-gray: #9CA3AF;
    --color-black: #1F2937;
    --card-size: 15rem;
  }
   */

@media screen and (min-width:300px) {
  .box1 {
    background-color: #101010;
    border-radius: 15px;
    padding: 1rem;
    height: 18vh;
    width: 43vw;
    margin: 0.5rem;
    box-shadow: inset 16px 14px 20px #0000008c;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 2s ease;
  }

  .box1:before {
    content: "";
    position: absolute;
    height: 500px;
    width: 500px;
    background-image: conic-gradient(#2196f3 20deg, transparent 250deg);
    animation: rotar 2.5s linear infinite;
  }

  @keyframes rotar {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(-360deg);
    }
  }

  .box1::after {
    content: "";
    position: absolute;
    height: 16.5vh;
    width: 40.5vw;
    background-color: #101010;
    border-radius: 15px;
    box-shadow: inset 16px 14px 20px #0000008c;

  }

  .contenido {
    /* background-color: red; */
    z-index: 2;
    display: flex;
    height: 17vh;
    width: 100%;
    padding: 0.5rem;
    flex-direction: column;
    align-items: flex-start;
    font-size: 2rem;
    transition: opacity 2s ease;

  }
  .tamaño_titulo{
    display: flex;
    /* background-color: red; */
    justify-content: center;
    align-items: center;
    width: 100%;
  }



  .box1:hover {
    background-color: #c4ffff;
    box-shadow: 0 0 5px #3b8eed,
      0 0 25px #3b8eed,
      0 0 30px #3b8eed;
  }

  .box1:hover h1 {
    color: #2196f3;

  }

  .box1:hover p {
    color: #c4ffff;
  }

  .nav {
    /* background-color: red; */
    padding: 0;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .nav a {
    text-decoration: none;
    color: #3d3d3d;
    font-size: 3rem;
    display: block;
    padding: 10px 15px;
    position: relative;
    transition: all 0.5s;
  }

  .taskapp {
    color: #3b8eed;
    font-weight: bold;
    text-shadow: 0 0 20px #3b8eed,
      0 0 20px #3b8eed,
      0 0 60px #3b8eed;
    opacity: 0.9;

  }


  .taskapp:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #2196f3;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.5s;

  }


  .taskapp:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #2196f3;
    transform: scaleX(0);
    transform-origin: right;
    transition: all 0.5s;

  }

  .taskapp:hover {
    color: #2196f3;
    opacity: 1;
  }

  .taskapp:hover:before,
  .taskapp:hover:after {
    transform: scaleX(1);
    box-shadow: 0 0 5px #3b8eed,
      0 0 25px #3b8eed,
      0 0 30px #3b8eed;
  }

  .formularioarea {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */

  }

  /* ############################################################ */
  .contenedor_titulo {
    background-color: #101010;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 90vw;
    padding: 0.5rem;
    margin-left: 1rem;
    border-radius: 10px;
    transition: 2s ease;
    overflow: hidden;
  }

  .contenedor_titulo:before {
    content: "";
    position: absolute;
    height: 900px;
    width: 900px;
    background-image: conic-gradient(#2196f3 20deg, transparent 250deg);
    animation: rotar 3.5s linear infinite;
  }


  .contenedor_titulo::after {
    content: "";
    position: absolute;
    height: 8.5vh;
    width: 87vw;
    background-color: #101010;
    border-radius: 10px;
    box-shadow: inset 16px 14px 20px #0000008c;

  }

  .formulariotitulo {
    z-index: 2;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    background-color: #3f3f46;
    height: 8.5vh;
    width: 87vw;
    border-radius: 10px;
    padding: 1rem;
    outline: none;
    transition: all 1s;
    /* box-shadow: 0 0 5px #3b8eed,
      0 0 15px #3b8eed,
      0 0 20px #3b8eed; */
  }

  .formulariotitulo:hover {
    color: white;
    background-color: #101010;
    border-radius: 15px;
    box-shadow: inset 16px 14px 20px #0000008c;

  }

  /* ############################################################# */

  .contenedor_texto {
    background-color: #101010;
    display: flex;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
    width: 90vw;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    transition: 2s ease;

  }

  @keyframes rotar2 {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(-360deg);
    }
  }

  .contenedor_texto:before {
    content: "";
    position: absolute;
    height: 900px;
    width: 900px;
    background-image: conic-gradient(#2196f3 10deg, transparent 250deg);
    animation: rotar 3.5s linear infinite;
  }


  .contenedor_texto::after {
    content: "";
    position: absolute;
    height: 33vh;
    width: 87vw;
    background-color: #101010;
    border-radius: 10px;
    box-shadow: inset 16px 14px 20px #0000008c;

  }

  .formulariotexto {
    z-index: 2;
    display: flex;
    background-color: #3f3f46;
    height: 33vh;
    width: 87vw;
    border-radius: 10px;
    padding: 1rem;
    outline: none;
    transition: all 1s;
    /* box-shadow: 0 0 5px #3b8eed,
      0 0 15px #3b8eed,
      0 0 20px #3b8eed; */
  }


  .formulariotexto:hover {
    color: white;
    background-color: #101010;
    border-radius: 15px;
    box-shadow: inset 16px 14px 20px #0000008c;


  }

  .botones {
    display: block;
    /* background-color: aqua; */
    margin-left: 1rem;
    margin-top: 1rem;

  }

  .boton_save {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
  }

  .boton_delete {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

  .spantext1 {
    z-index: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 25vw;
    height: 8.5vh;
    font-size: 1.5rem;
    background-color: red
      /* #101010 */
    ;
    box-shadow: inset 16px 14px 20px #0000008c;
    color: white;
    border-radius: 10px;

  }

  .spantext2 {
    z-index: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 30vw;
    height: 33vh;
    font-size: 1.5rem;
    background-color: red
      /* #101010 */
    ;
    box-shadow: inset 16px 14px 20px #0000008c;
    color: white;
    border-radius: 10px;

  }

  .boton_save button {
    background-color: cyan;
    opacity: 0.9;
    width: 25vw;
    height: 8vh;
    border-radius: 10px;
    box-shadow: 0 0 5px cyan,
      0 0 15px cyan;
    color: #101010;
  }

  .boton_save button:hover {
    background-color: cyan;
    opacity: 1;
    box-shadow: 0 0 5px cyan,
      0 0 15px cyan,
      0 0 25px cyan;
    color: #101010;
  }

  .boton_delete button {
    background-color: red;
    opacity: 0.9;
    width: 25vw;
    height: 8vh;
    border-radius: 10px;
    box-shadow: 0 0 5px red,
      0 0 15px red;
    color: #101010;
  }

  .boton_delete button:hover {
    background-color: red;
    opacity: 1;
    box-shadow: 0 0 5px red,
      0 0 25px red,
      0 0 35px red;
    color: #101010;
  }

  /* ################################ distiribucion de las tarjetas ########################### */

}

@media screen and (min-width:700px) {
  .box1 {
    background-color: #101010;
    border-radius: 15px;
    /* padding: 1rem; */
    height: 18vh;
    width: 40vw;
    margin: 0.5rem;
    box-shadow: inset 16px 14px 20px #0000008c;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 2s ease;
  }

  .box1:before {
    content: "";
    position: absolute;
    height: 500px;
    width: 500px;
    background-image: conic-gradient(#2196f3 20deg, transparent 250deg);
    animation: rotar 2.5s linear infinite;
  }

  @keyframes rotar {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(-360deg);
    }
  }

  .box1::after {
    content: "";
    position: absolute;
    height: 16.5vh;
    width: 38.5vw;
    background-color: #101010;
    border-radius: 15px;
    box-shadow: inset 16px 14px 20px #0000008c;

  }

  .contenido {
    /* background-color: red; */
    z-index: 2;
    display: flex;
    height: 17vh;
    width: 100%;
    padding: 0.5rem;
    flex-direction: column;
    align-items: flex-start;
    font-size: 2rem;
    transition: opacity 2s ease;

  }


  .box1:hover {
    background-color: #c4ffff;
    box-shadow: 0 0 5px #3b8eed,
      0 0 25px #3b8eed,
      0 0 30px #3b8eed;
  }

  .box1:hover h1 {
    color: #2196f3;

  }

  .box1:hover p {
    color: #c4ffff;
  }

  .nav {
    /* background-color: red; */
    padding: 0;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .nav a {
    text-decoration: none;
    color: #3d3d3d;
    font-size: 3rem;
    display: block;
    padding: 10px 15px;
    position: relative;
    transition: all 0.5s;
  }

  .taskapp {
    color: #3b8eed;
    font-weight: bold;
    text-shadow: 0 0 20px #3b8eed,
      0 0 20px #3b8eed,
      0 0 60px #3b8eed;
    opacity: 0.9;

  }


  .taskapp:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #2196f3;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.5s;

  }


  .taskapp:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #2196f3;
    transform: scaleX(0);
    transform-origin: right;
    transition: all 0.5s;

  }

  .taskapp:hover {
    color: #2196f3;
    opacity: 1;
  }

  .taskapp:hover:before,
  .taskapp:hover:after {
    transform: scaleX(1);
    box-shadow: 0 0 5px #3b8eed,
      0 0 25px #3b8eed,
      0 0 30px #3b8eed;
  }

  .formularioarea {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */

  }

  /* ############################################################ */
  .contenedor_titulo {
    background-color: #101010;
    display: flex;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 70vw;
    margin-left: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    transition: 2s ease;
    /* box-shadow: 0 0 5px #3b8eed,
      0 0 25px #3b8eed,
      0 0 30px #3b8eed; */
  }

  .contenedor_titulo:before {
    content: "";
    position: absolute;
    height: 900px;
    width: 900px;
    background-image: conic-gradient(#2196f3 20deg, transparent 250deg);
    animation: rotar 3.5s linear infinite;
  }


  .contenedor_titulo::after {
    content: "";
    position: absolute;
    height: 8.5vh;
    width: 65vw;
    background-color: #101010;
    border-radius: 10px;
    box-shadow: inset 16px 14px 20px #0000008c;

  }



  .formulariotitulo {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3f3f46;
    height: 8.5vh;
    width: 78vw;
    border-radius: 10px;
    padding: 1rem;
    outline: none;
    transition: all 1s;
    /* box-shadow: 0 0 5px #3b8eed,
      0 0 15px #3b8eed,
      0 0 20px #3b8eed; */
  }

  .formulariotitulo:hover {
    color: white;
    background-color: #101010;
    border-radius: 15px;
    box-shadow: inset 16px 14px 20px #0000008c;

  }

  /* ############################################################# */

  .contenedor_texto {
    background-color: #101010;
    display: flex;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
    width: 70vw;
    margin-top: 2rem;
    margin-left: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    transition: 2s ease;

  }

  @keyframes rotar2 {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(-360deg);
    }
  }

  .contenedor_texto:before {
    content: "";
    position: absolute;
    height: 900px;
    width: 900px;
    background-image: conic-gradient(#2196f3 10deg, transparent 250deg);
    animation: rotar 3.5s linear infinite;
  }


  .contenedor_texto::after {
    content: "";
    position: absolute;
    height: 33vh;
    width: 65vw;
    background-color: #101010;
    border-radius: 10px;
    box-shadow: inset 16px 14px 20px #0000008c;

  }

  .formulariotexto {
    z-index: 2;
    display: flex;
    background-color: #3f3f46;
    height: 33vh;
    width: 70vw;
    border-radius: 10px;
    padding: 1rem;
    outline: none;
    transition: all 1s;
    /* box-shadow: 0 0 5px #3b8eed,
      0 0 15px #3b8eed,
      0 0 20px #3b8eed; */
  }


  .formulariotexto:hover {
    color: white;
    background-color: #101010;
    border-radius: 15px;
    box-shadow: inset 16px 14px 20px #0000008c;


  }

  .botones {
    display: block;
    /* background-color: aqua; */
    margin-left: 1rem;
    margin-top: 1rem;

  }

  .boton_save {
    display: flex;
    justify-content: center;
  }

  .boton_delete {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

  .spantext1 {
    z-index: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 20vw;
    height: 8vh;
    font-size: 1.5rem;
    background-color: red
      /* #101010 */
    ;
    box-shadow: inset 16px 14px 20px #0000008c;
    color: white;
    border-radius: 10px;

  }

  .spantext2 {
    z-index: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 20vw;
    height: 33vh;
    font-size: 1.5rem;
    background-color: red
      /* #101010 */
    ;
    box-shadow: inset 16px 14px 20px #0000008c;
    color: white;
    border-radius: 10px;

  }

  .boton_save button {
    background-color: cyan;
    opacity: 0.9;
    box-shadow: 0 0 5px cyan,
      0 0 15px cyan;
    color: #101010;
  }

  .boton_save button:hover {
    background-color: cyan;
    opacity: 1;
    box-shadow: 0 0 5px cyan,
      0 0 15px cyan,
      0 0 25px cyan;
    color: #101010;
  }

  .boton_delete button {
    background-color: red;
    opacity: 0.9;
    box-shadow: 0 0 5px red,
      0 0 15px red;
    color: #101010;
  }

  .boton_delete button:hover {
    background-color: red;
    opacity: 1;
    box-shadow: 0 0 5px red,
      0 0 25px red,
      0 0 35px red;
    color: #101010;
  }

  /* ################################ distiribucion de las tarjetas ########################### */

}

@media screen and (min-width:1024px) {

  .box1 {
    background-color: #101010;
    border-radius: 15px;
    padding: 1rem;
    height: 20.2vh;
    width: 26.2vw;
    margin: 0.5rem;
    box-shadow: inset 16px 14px 20px #0000008c;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 2s ease;
  }

  .box1:before {
    content: "";
    position: absolute;
    height: 500px;
    width: 500px;
    background-image: conic-gradient(#2196f3 20deg, transparent 250deg);
    animation: rotar 2.5s linear infinite;
  }

  @keyframes rotar {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(-360deg);
    }
  }

  .box1::after {
    content: "";
    position: absolute;
    height: 18.5vh;
    width: 25.5vw;
    background-color: #101010;
    border-radius: 15px;
    box-shadow: inset 16px 14px 20px #0000008c;

  }

  .contenido {
    /* background-color: red; */
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 2rem;
    transition: opacity 2s ease;

  }

  .tamaño_titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }



  .box1:hover {
    background-color: #c4ffff;
    box-shadow: 0 0 5px #3b8eed,
      0 0 25px #3b8eed,
      0 0 30px #3b8eed;
  }

  .box1:hover h1 {
    color: #2196f3;

  }

  .box1:hover p {
    color: #c4ffff;
  }

  .nav {
    /* background-color: red; */
    padding: 0;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .nav a {
    text-decoration: none;
    color: #3d3d3d;
    font-size: 3rem;
    display: block;
    padding: 10px 15px;
    position: relative;
    transition: all 0.5s;
  }

  .taskapp {
    color: #3b8eed;
    font-weight: bold;
    text-shadow: 0 0 20px #3b8eed,
      0 0 20px #3b8eed,
      0 0 60px #3b8eed;
    opacity: 0.9;

  }


  .taskapp:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #2196f3;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.5s;

  }


  .taskapp:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #2196f3;
    transform: scaleX(0);
    transform-origin: right;
    transition: all 0.5s;

  }

  .taskapp:hover {
    color: #2196f3;
    opacity: 1;
  }

  .taskapp:hover:before,
  .taskapp:hover:after {
    transform: scaleX(1);
    box-shadow: 0 0 5px #3b8eed,
      0 0 25px #3b8eed,
      0 0 30px #3b8eed;
  }

  .formularioarea {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */

  }

  /* ############################################################ */
  .contenedor_titulo {
    background-color: #101010;
    display: flex;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 60vw;
    margin-left: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    transition: 2s ease;
    /* box-shadow: 0 0 5px #3b8eed,
      0 0 25px #3b8eed,
      0 0 30px #3b8eed; */
  }

  .contenedor_titulo:before {
    content: "";
    position: absolute;
    height: 900px;
    width: 900px;
    background-image: conic-gradient(#2196f3 20deg, transparent 250deg);
    animation: rotar 3.5s linear infinite;
  }


  .contenedor_titulo::after {
    content: "";
    position: absolute;
    height: 7vh;
    width: 58vw;
    background-color: #101010;
    border-radius: 10px;
    box-shadow: inset 16px 14px 20px #0000008c;

  }



  .formulariotitulo {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3f3f46;
    height: 8vh;
    width: 68vw;
    border-radius: 10px;
    padding: 1rem;
    outline: none;
    transition: all 1s;
    /* box-shadow: 0 0 5px #3b8eed,
      0 0 15px #3b8eed,
      0 0 20px #3b8eed; */
  }

  .formulariotitulo:hover {
    color: white;
    background-color: #101010;
    border-radius: 15px;
    box-shadow: inset 16px 14px 20px #0000008c;

  }

  /* ############################################################# */

  .contenedor_texto {
    background-color: #101010;
    display: flex;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
    width: 60vw;
    margin-top: 2rem;
    margin-left: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    transition: 2s ease;

  }

  @keyframes rotar2 {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(-360deg);
    }
  }

  .contenedor_texto:before {
    content: "";
    position: absolute;
    height: 900px;
    width: 900px;
    background-image: conic-gradient(#2196f3 10deg, transparent 250deg);
    animation: rotar 3.5s linear infinite;
  }


  .contenedor_texto::after {
    content: "";
    position: absolute;
    height: 33vh;
    width: 59vw;
    background-color: #101010;
    border-radius: 10px;
    box-shadow: inset 16px 14px 20px #0000008c;

  }

  .formulariotexto {
    z-index: 2;
    display: flex;
    background-color: #3f3f46;
    height: 33vh;
    width: 59vw;
    border-radius: 10px;
    padding: 1rem;
    outline: none;
    transition: all 1s;
    /* box-shadow: 0 0 5px #3b8eed,
      0 0 15px #3b8eed,
      0 0 20px #3b8eed; */
  }


  .formulariotexto:hover {
    color: white;
    background-color: #101010;
    border-radius: 15px;
    box-shadow: inset 16px 14px 20px #0000008c;


  }

  .botones {
    display: block;
    /* background-color: aqua; */
    margin-left: 1rem;
    margin-top: 1rem;

  }

  .boton_save {
    display: flex;
    justify-content: center;
  }

  .boton_delete {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

  .spantext1 {
    z-index: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 20vw;
    height: 8vh;
    font-size: 1.5rem;
    background-color: red
      /* #101010 */
    ;
    box-shadow: inset 16px 14px 20px #0000008c;
    color: white;
    border-radius: 10px;

  }

  .spantext2 {
    z-index: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 20vw;
    height: 33vh;
    font-size: 1.5rem;
    background-color: red
      /* #101010 */
    ;
    box-shadow: inset 16px 14px 20px #0000008c;
    color: white;
    border-radius: 10px;

  }

  .boton_save button {
    background-color: cyan;
    opacity: 0.9;
    width: 20vw;
    height: 10vh;
    border-radius: 10px;
    box-shadow: 0 0 5px cyan,
      0 0 15px cyan;
    color: #101010;
  }

  .boton_save button:hover {
    background-color: cyan;
    opacity: 1;
    box-shadow: 0 0 5px cyan,
      0 0 15px cyan,
      0 0 25px cyan;
    color: #101010;
  }

  .boton_delete button {
    background-color: red;
    opacity: 0.9;
    width: 20vw;
    height: 10vh;
    border-radius: 10px;
    box-shadow: 0 0 5px red,
      0 0 15px red;
    color: #101010;
  }

  .boton_delete button:hover {
    background-color: red;
    opacity: 1;
    box-shadow: 0 0 5px red,
      0 0 25px red,
      0 0 35px red;
    color: #101010;
  }

  /* ################################ distiribucion de las tarjetas ########################### */

}